<?xml version="1.0" encoding="utf-8"?>
<configuration>  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="rauhack" connectionString="Server=tcp:raudevhack.database.windows.net,1433;Initial Catalog=raudevhack;Persist Security Info=False;User ID=c66dbDH2019;Password=qbtzqNWMU@Q07;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient " />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Bunifu.Core" publicKeyToken="e8e24ccd28363fe9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.0.1" newVersion="1.8.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
